@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app{
  width: 100%;
  height: 100vh;
  position: relative;
  color: white;
}

.app::before{
  content: '';
  background: url('./assets/weather.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.container{
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(0, 90, 235, .3);
}

.app .bottom{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(0, 90, 235, .7);
}

.bold{
  font-weight: 700;
}

.app .searchBar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  position: relative;
  margin: 40px 0 40px;
  width: 300px;
  padding-top: 20px;
  /* Added padding on top */
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 25px 0;
  /* Increased padding */
  font-size: 28px;
  /* Increased font size */
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 25px;
  /* Increased top position */
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 28px;
  /* Increased font size */
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: lightblue;
  transform: translateY(-50px);
  /* Increased translation value */
}


p{
  font-size: 1.6rem;
}

h1{
  font-size: 4rem;
}

